<!-- Show the progress bar while loading -->
<mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>

<!-- Only show the navbar and content when the data is loaded -->
<div *ngIf="!isLoading">
  <header>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
    >
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()"
        >
          <span class="navbar-toggler-icon"></span>
          
        </button>
        <div
          class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
          [ngClass]="{ show: isExpanded }"
        >
          <div *ngIf="user">
            <img src="assets/logo_*svg" alt="Logo" class="img-fluid" alt="Logo"/>
              <i class="fas fa-user px-2"></i>
              <span class="navbar-text text-dark">{{ user }}</span>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>